{% extends 'base.html' %}
{%block title %}Thanks for Submitting{% endblock %}

{% block content%}
      <div class="container">
          <h1> Error...</h1>
          <br> </br>

          {{ error_statement }}
        
          <div class="container">
            <h1>Subscribe to my newsletter</h1>
        </div>
  
        <form action="/form" method="POST">
            <div class="form-group">
                <input type="text" class="form-control" id="exampleinputEmail1" aria-describedby="emailHelp" placeholder="First Name" name="first_name" value="{{ first_name }}">
            </div>
  
          <div class="form-group">
              <input type="text" class="form-control" id="exampleinputEmail1" aria-describedby="emailHelp" placeholder="Last Name" name="last_name" value="{{ last_name }}">
          </div>
  
          <div class="form-group">
              <input type="email" class="form-control" id="exampleinputEmail1" aria-describedby="emailHelp" placeholder="Email Address" name="email" value="{{ email }}">
          </div>
  
          <br></br>
          <button type="submit" class="btn btn-secondary">Submit</button>
        </form>
    </div>


{% endblock%}